<% layout("layouts/boilerplate.ejs") %>


    <div class="row my-3">
        <div class="col-6 offset-3 signup-form">
            <h4 class="text-center">Signup Your Account</h4>
            <form action="/signup" method="POST" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" class=" form-control border w-100 p-2 login_singup_radius"
                        id="signupUsername" placeholder="Username" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" name="email" class=" form-control border w-100 p-2 login_singup_radius"
                        id="singupEmail" placeholder="Emial Address" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="text" name="password" class=" form-control border w-100 p-2 login_singup_radius"
                        id="singupPassword" placeholder="Password" required>
                </div>
                <div class="text-center ">
                    <button class="login_singup_radius w-50 p-2 signupSubmitBtn text-white">Login</button>
                </div>
            </form>
        </div>
    </div>